<div class="p-4 bg-white w-screen flex justify-center flex-col items-center">
  <div class="p-10">
  <h1 class="font-extralight text-6xl text-gray-700">IBEX</h1>
  <h1 class="font-extrabold text-6xl text-gray-700">NEWS</h1>
  </div>


  <h2 class=" pb-2 text-2xl text-gray-700">Bienvenido al mayor agregador de noticias sobre la bolsa
    del mercado.</h2>
  <p class="pb-2 text-gray-700">Busca por valores, noticias generales o accede a tu espacio
    personalizado con un resumen de los valores que estás siguiendo</p>
</div>
<div class="flex flex-wrap flex-col justify-center items-center bg-yellow-400 py-10 ">
  <div class="h-auto w-full md:w-5/12 p-2">
    <h2 class="p-1 text-gray-700">Busca los principales valores del Ibex</h2>
    <ng-autocomplete
      [data]="companies"
      [searchKeyword]="keyword"
      (selected)='selectEvent($event)'
      (inputChanged)='onChangeSearch($event)'
      (inputFocused)='onFocused($event)'
      [itemTemplate]="itemTemplate"
      [notFoundTemplate]="notFoundTemplate">
    </ng-autocomplete>

    <ng-template #itemTemplate let-item>
      <a [innerHTML]="item.productionName"></a>
    </ng-template>

    <ng-template #notFoundTemplate let-notFound>
      <div [innerHTML]="notFound"></div>
    </ng-template>
    <button class="my-2 p-2 bg-red-400 text-yellow-400 hover:bg-red-500 rounded" *ngIf="backToNews"
            (click)="onChangeSearch('')">Volver a noticias generales
    </button>
  </div>
</div>


