<div class="bg-gray-800" *ngIf="!isLogged" (mouseleave)="hideMenu()">
  <nav class="bg-gray-500 text-gray-800 p-1">
    <div class="pl-2 h-auto flex justify-between">
      <div flex flex-row>
      <a routerLink="" class="py-1"><p class="font-extralight">IBEX</p><p class="font-extrabold">NEWS</p></a>
      </div>
      <button (click)="showMenu()" class="bg-white-400 text-white material-icons pr-1" type="button">menu</button>
    </div>
  </nav>
  <div>
    <div *ngIf="menu" [@fadeInDownOnEnter] [@fadeOutUpOnLeave] class="text-right bg-gray-900 text-white flex flex-col">
      <button class="py-2 pr-5" routerLink="login">Login/Create User</button>
    </div>
  </div>
</div>

<div *ngIf="isLogged" (mouseleave)="hideMenu()">
  <nav class="bg-gray-500 text-gray-800 p-1">
    <div class="h-auto flex justify-between">
      <a routerLink="" class="py-1"><p class="font-extralight">IBEX</p><p class="font-extrabold">NEWS</p></a>
      <div class="hidden md:flex md:flex-row py-1">

      </div>
      <button (click)="showMenu()" class="bg-white-400 text-white material-icons pr-1" type="button">menu</button>
    </div>
  </nav>
  <div>
    <div *ngIf="menu" [@fadeInDownOnEnter] [@fadeOutUpOnLeave] class="text-right bg-gray-900 text-white flex flex-col">
      <button class="py-2 pr-5" routerLink="my-profile">My Space</button>
      <button class="py-2 pr-5 border-t border-gray-300" (click)="logout()">Logout</button>
    </div>
  </div>
</div>
