<div class="p-4 bg-white w-screen flex justify-center flex-col items-center">
  <div class="p-10">
    <h1 class="font-extralight text-6xl text-gray-700">IBEX</h1>
    <h1 class="font-extrabold text-6xl text-gray-700">NEWS</h1>
  </div>


  <h2 class=" pb-2 text-2xl text-gray-700">Bienvenido <strong>{{user.name}}</strong></h2>
</div>

<div class="flex flex-wrap flex-col justify-center items-center bg-yellow-400 py-10 ">

  <div class="h-auto w-full md:w-5/12 p-2">
    <h2 class="text-gray-800 text-xl py-2"></h2>
    <p class="text-gray-800"> Añade tus empresas favoritas</p>
    <ng-autocomplete
      [data]="companies"
      [searchKeyword]="keyword"
      (selected)='selectEvent($event)'
      (inputChanged)='onChangeSearch($event)'
      (inputFocused)='onFocused($event)'
      [itemTemplate]="itemTemplate"
      [notFoundTemplate]="notFoundTemplate">
    </ng-autocomplete>

    <ng-template #itemTemplate let-item>
      <a [innerHTML]="item.productionName"></a>
    </ng-template>

    <ng-template #notFoundTemplate let-notFound>
      <div [innerHTML]="notFound"></div>
    </ng-template>
  </div>
</div>
<div>
  <div class="flex flex-col justify-center items-center mx-2">

    <div class="flex flex-wrap flex-col w-full sm:w-3/4 my-2" *ngFor="let company of userIbexCompanies; index as i">

      <div>
        <div (click)="newsVisibility(i)"
             class="flex flex-row justify-between content-center items-center bg-gray-400 rounded-t">
          <img class="self-center w-20 h-20 mx-2 object-contain "
               src="assets/images/{{company.queryName}}.png">
          <button class="bg-yellow-400 text-white  p-2 h-5/6 rounded hover:bg-yellow-500 mx-2"
                  (click)="deleteCompany(i)">
            Eliminar
          </button>
        </div>
        <div class="mb-2 p-2 border-l-2 border-r-2 border-b-2 border-gray-400 rounded-b" *ngIf="showNews[i]">

          <table class="table-auto w-full overflow-x-scroll rounded-lg m-5 mx-auto bg-gray-700 text-gray-50">
            <thead>
            <tr>
              <th class="px-4 py-3">Símbolo</th>
              <th class="px-4 py-3">Apertura</th>
              <th class="px-4 py-3">Máximo</th>
              <th class="px-4 py-3">Mínimo</th>
              <th class="px-4 py-3">Valor</th>

            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="px-4 py-3">{{quote[i] ? quote[i].symbol : 'N/A'}}</td>
              <td class="px-4 py-3">{{quote[i] ? (quote[i].open | number: '1.2-2') : 'N/A'}}</td>
              <td class="px-4 py-3">{{quote[i] ? (quote[i].high | number: '1.2-2') : 'N/A'}}</td>
              <td class="px-4 py-3">{{quote[i] ? (quote[i].low | number: '1.2-2') : 'N/A'}}</td>
              <td class="px-4 py-3">{{quote[i] ? (quote[i].price | number: '1.2-2') : 'N/A'}}</td>
            </tr>
            </tbody>
          </table>

          <table class="table-auto w-full overflow-x-scroll rounded-lg m-5 mx-auto bg-gray-700 text-gray-50">
            <thead>
            <tr>
              <th class="px-4 py-3">Volumen</th>
              <th class="px-4 py-3">Último día</th>
              <th class="px-4 py-3">Cierre Previo</th>
              <th class="px-4 py-3">Diferencia</th>
              <th class="px-4 py-3">Diferencia %</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="px-4 py-3">{{quote[i] ? (quote[i].volume | number: '1.0') : "N/A" }}</td>
              <td class="px-4 py-3">{{quote[i] ? formatDateOnlyDate(quote[i].latestTradingDay) : 'N/A'}}</td>
              <td class="px-4 py-3">{{quote[i] ? (quote[i].previousClose | number: '1.2-2') : 'N/A'}}</td>
              <td class="px-4 py-3">{{quote[i] ? (quote[i].change | number: '1.2-2') : 'N/A'}}</td>
              <td class="px-4 py-3">{{quote[i] ? (quote[i].changePercent) : 'N/A'}}</td>
            </tr>
            </tbody>
          </table>
          <div *ngFor="let article of company.news" class="bg-white border-b-2 border-gray-400 p-2 m-2">
            <div>
              <p class="text-gray-600">{{formatDate(article.localDateTime)}}</p>
              <a class="text-gray-500 hover:text-gray-600 text-xl" href="{{article.url}}">{{article.title}}</a>
              <div class="flex">
                <p class="text-white bg-yellow-400 px-2 my-2 rounded" *ngIf="article.mediaOutlet == 'EL_ECONOMISTA'">El
                  Economista</p>
                <p class="text-white bg-red-500 px-2 my-2 rounded" *ngIf="article.mediaOutlet == 'CINCODIAS'">Cinco
                  Dias</p>
                <p class="text-white bg-blue-500 px-2 my-2 rounded" *ngIf="article.mediaOutlet == 'ELCONFIDENCIAL'">El
                  Confidencial</p>
              </div>
            </div>
          </div>
          <div class="flex flex-row justify-center items-center">
            <button class="m-2 p-2 bg-red-400 hover:bg-red-500 w-2/12 text-white rounded" (click)="previous(i)">Atrás
            </button>
            <button class="m-2 p-2 bg-red-400 hover:bg-red-500 w-2/12 text-white rounded" (click)="next(i)">Siguiente
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

